*{
    box-sizing: border-box;
}
body
{
    background-color : white;
    margin:0;
}
--Letras--
.menu-lista-inicio h1{
    font-family: sans-serif;
}
.redes-sociales h1{
    font-family: sans-serif;
}
.contacto-telefonico h1{
    font-family: sans-serif;
}
.contacto-telefonico p{
    font-family: sans-serif;
}
.contacto-telefonico h2{
    font-family: sans-serif;
}
.copyright{
    font-family: sans-serif;
    padding-top: 20px;
}
.contacto{
    font-family: sans-serif;
}
.box1
{
    background-color: orange;
}
.LogoInicio{
    background-color:  white;
}
.box2
{
    background-color: white;
}

.box3
{
    background-color: silver;
    margin: 0;
}
.box6
{
    background-color:silver;
}
.redes-sociales img
{
    width: 50px;
    height: 50px;  
}
.boxFooter
{
    background-color:black;
}
.contacto-telefonico img{
    width: 50px;
    height: 50px;
}
.LogoInicio img{
    --width: 100%;
    height: auto;
}
.box5
{
    background-color: black;
}
.box5 h1
{
    color: white;
}
.box5 a
{
    text-decoration: none;
}
.tamanoImagen
{
    width: 40%;
    height: 40%;
}
.row{   
    width: 100%;
    height: 100%;
}
.slider
{
    justify-content:center;
    height: 100%;
    width: 100%;
}
.slider img
{
    width: 100%;
    height: 100%;
}
.boxFooter h1{
    color: white;
}
.boxFooter h2
{
    color: white;
}
.boxFooter p{
    color: white;
}
.box5 h1{
    font-family: sans-serif;
    font-size: 30px;
}
.politica h1
{
    font-family: sans-serif;
}
.politica li{
    font-family: sans-serif;
}
.Valores h1 
{   
    font-family: sans-serif;
}
.Valores li{
    font-family: sans-serif;
}
.Valores
{
    padding-left: 10px;
    text-align: left;
}
.Valores h1
{
    padding-left: 20px;
}
.Valores li
{
    font-family: sans-serif;
}
.politica
{
   padding-left: 10px;
   text-align: justify;
}
.mantencion{
    padding-bottom: 30px;
    padding-top: 20px;
    border: 0;
}
.mantencion h1{
    font-family: sans-serif;
    font-size: 40px;    
    color: rgb(83, 83, 83);
}
.mantencion p
{
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(83, 83, 83);
}
.imagenVanguardia{
    height: auto;
    width: auto;
}
.imagenPolitica{
    height: auto;
    width: auto;
}
.imagenValores{
    height: auto;
    width: auto;
}
.boxVanguardia .imagenVanguardia{
    padding-top: 40px;
    padding-bottom: 10px;
}
.boxVanguardia .imagenVanguardia{
    width: 100%;
    height: 100%;
}
.boxVanguardia .letrasVanguardia p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
.boxVanguardia .letrasVanguardia h1{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}
.letrasVanguardia{
    padding-top: 70px;
    color: rgb(40, 40, 40);
}
.boxVanguardia{
    background-color: silver;
    padding-bottom: 30px;
}
.boxPolitica{
    background-color: white;
}
.boxPolitica .imagenPolitica{
    padding-top: 110px;
    padding-bottom: 10px;
}
.boxPolitica .imagenPolitica{
    width: 100%;
    height: 100%;
}
.boxPolitica .letrasPolitica h1{
    font-family: sans-serif;
    font-size: 40px;
    text-align: justify;
    padding-left: 20px;
}
.boxPolitica .letrasPolitica p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
}
.letrasPolitica{
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(40, 40, 40);
}
.boxPolitica{
    padding-bottom: 30px;
}
.boxValores .imagenValores{
    padding-top: 110px;
    padding-bottom: 40px;
}
.boxValores .imagenValores{
    width: auto;
    height: auto;
}
.boxValores .letrasValores h1{
    font-family: sans-serif;
    font-size: 40px;
    text-align: justify;
    padding-left: 20px;
}
.boxValores .letrasValores li{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
}
.letrasValores{
    padding-top: 20px;
    color: rgb(40, 40, 40);
}
.boxValores{
    background-color: silver;
    padding-bottom: 30px;
}
.contacto h1{
    font-family: sans-serif;
    font-size: 25px;
}
.contacto p{
    font-family: sans-serif;
    font-size: 15px;
}
.contacto h2{
    font-family: sans-serif;
    font-size: 20px;
}
.contacto-telefonico h1{
    font-family: sans-serif;
    font-size: 25px;
}
.contacto-telefonico h2{
    font-family: sans-serif;
    font-size: 20px;
}
.contacto-telefonico p{
    font-family: sans-serif;
    font-size: 15px;
}
.redes-sociales .imagenRedes{
    padding-top: 10px;
    padding-left: 15px;
}
.redes-sociales h1{
    font-family: sans-serif;
    font-size: 25px;
}
.copyright p{
    font-family: sans-serif;
    font-size: 15px;
}
.monoReparador{
    padding-top: 30px;
    padding-left: 80px;
}
.letrasReparador p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
}
.letrasReparador{
    padding-bottom: 20px;
    color: rgb(40, 40, 40);
}
.imagenAscensor2{
    padding-left: 80px;
    padding-bottom: 20px;
}
.boxMantencion{
    background-color: silver;
    padding-bottom: 30px;
}
.letrasMantencion{    
    padding-bottom: 20px;
    color: rgb(40, 40, 40);
}
.letrasMantencion p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
}
.boxFormulario .tituloFormulario{
    background-color: silver;
    font-family: sans-serif; 
    color: rgb(40, 40, 40);
}
.tituloFormulario h1{
    font-family: sans-serif;
    font-size: 40px;
}
.letrasFormulario{
    padding-bottom: 20px;
    color: rgb(40, 40, 40);
    padding-top: 20px;
}
.boxFormulario{    
    background-color: silver;
    width: 100%;
    height: 100%;
}
.logoInicioContacto{
    border: 0;
}
.logoInicioContacto img{
    --width: 100%;
    height: auto;
}
.containerContacto{    
    background-color: black;
}
.boxCreacionCliente{
    background-color: silver;
}
.boxFooter{
    background-color: black;
}
.copyrightCrear{
    font-family: sans-serif;
    padding-top: 20px;
}
.copyrightCrear p{
    font-family: sans-serif;
    font-size: 15px;
}
.tituloCrear h1{
    font-family: sans-serif;
    font-size: 30px;
}
.letras{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(40, 40, 40);
}
.boton{
    font-family: sans-serif;
    font-size: 15px;
}
.tituloTecnico h1{
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}
.botones{
    background-color: silver;
    padding-bottom: 30px;
    padding-top: 30px;
}
.botones button{
    font-family: sans-serif;
}
.subTitulo h1{
    font-family: sans-serif;
    font-size: 25px;
}
.botones .subTitulo{
    color: rgb(40, 40, 40);
}
.boxBotones{
    padding: 10px;
    border: 0;
    text-decoration: none;
}
.boxBotones a{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 800px)
{ 
    .tamanoImagen
{
    width: auto;
    height: auto;
}
}