<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="UTF-8">
      <title> Mis Ascensores</title>
      <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
      <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">
  </head>
  <body>
      <div class="containerContacto">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="logoInicioContacto">
                  <br>
                  <center>
                      <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                  </center>
                  <br>
                  </div>
              </div>
          </div><!--FIN CLASE LOGO INICIO-->
      </div>
      <div class="boxCreacionCliente">
          <center>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <div class="tituloCrear">
                    <h1>Iniciar Sesión</h1>
                    <hr color="white" size=5px>
                    </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                
              </div>
          </div>
          <br>
          </center>
        <center>
          <div class="letras">
      {% block content %}
      <form method="post">
        {% csrf_token %}
        <label>Usuario:</label>
        {{ form.username }}
        <br>
        <br>
        <br>
        <label>Contraseña:</label>
        {{ form.password }}
        <br><br><br>
        <button type="submit">Iniciar Sesión</button>
        <br><br>
        <button onclick="window.location.href='/register'" class="">Registrate aquí para solicitar la reparación de tu ascensor</button>
      </form>
      {% endblock %}
    </div>
    <br><br>
</center>
</center>
    <Footer>
        <div class="boxFooter">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="copyrightCrear">
                    <center>
                        <p>Copyright</p>
                        <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                        <br>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </Footer>
  </body>
</html>