<!DOCTYPE html>
<html>
  <head>
      {% load static %}
      <meta charset="UTF-8">
        <title> Registro Usuario</title>
        
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
        <meta name="{% static 'viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"/>
        <link href="{% static 'css/flexboxgrid.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.bxslider.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap_ms.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  </head>

    <body>  
        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                    </center>
                    <br>
                    </div>
                </div>
            </div><!--FIN CLASE LOGO INICIO-->
        </div>
        <div class="boxCreacionCliente">
            <center>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="tituloCrear">
                        <h1>Crear Cliente</h1>
                        <hr color="white" size=5px>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    
                </div>
            </div>
            </center>
        <center>
        <div class="letras">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <form method="post" action="{% url 'register.html' %}">
                    {% csrf_token %}

                    {% if formRegistroUsuario.errors %}
                    <p>Errores del formulario</p>
                    {% endif %}

                    {{formRegistroUsuario.as_p}}

                        <br>
                        {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                    <input type="submit" value="Registrar">
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    
            </div>
        </div>
        <br><br>
        </center>
        </div>
        <Footer>
            <div class="boxFooter">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="copyrightCrear">
                        <center>
                            <p>Copyright</p>
                            <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                            <br>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </Footer>
    </body>
</html>
