<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">

    </head>
    <body>

        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                    </center>
                    <br>
                    </div>
                </div>
            </div><!--FIN CLASE LOGO INICIO-->
            <div class="box5">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio">
                        <center>
                            <a href="/"><h1>Inicio</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-2">
                        <center>
                            <a href="/serviciosDisponibles.html"><h1>Nuestros Servicios</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-3">
                        <center>
                            <a href="/trabajosRealizados.html"><h1>Trabajos Realizados</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-4">
                        <center>
                            <a href="/contacto.html"><h1>Contáctanos</h1></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <center>
        <div class="boxFormulario">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="tituloFormulario">
                        <h1>Formulario Django</h1>
                    </div>
                    <hr color="white" size=5px>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            
                </div>  
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        
            </div>                     
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="letrasFormulario">

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        
            </div>
        </div>
        <Footer>
            <div class="boxFooter">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="contacto">
                        <center>
                            <h1>Ubícanos</h1>
                            <p>Dirección:</p>
                            <p>Los Ciruelos Nº 2800, La Florida, Santiago</p>
                            <br>
                            <h2>Email:</h2>
                            <p>contacto@upNdown.cl</p>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="redes-sociales">
                            <h1>Síguenos en nuestras redes sociales</h1>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                    <img src="{% static 'img/redes/google-plus.PNG' %}">
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                    <img src="{% static 'img/redes/Facebook.PNG' %}">
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                    <img src="{% static 'img/redes/instagram.PNG' %}">
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3col-lg-2">
                                    <img src="{% static 'img/redes/youtube.PNG' %}">
                                </div>
                            </div> <!--Fin row-->
                        </div> <!-- Fin Clase-->
                    </div><!--Fin Col-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="contacto-telefonico">
                        <h1>Contacto telefónico</h1>
                        <p>+569 45899020 - 2 22887889</p>
                        <br>
                        <h2>En caso de emergencias: </h2>
                        <p>whatsapp  o celular 24/7:</p>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            <img src="{% static 'img/redes/whatsapp.png' %}"> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="copyright">
                        <center>
                            <p>Copyright</p>
                            <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                        </center>
                    </div>
                </div>
            </Footer>
        </div><!--fin container-->
    </body>
</html>