<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis Ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">
        <meta name="{% static 'viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0' %}"/>
        <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/jquery.bxslider.min.css' %}">
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
        <script>
          $(document).ready(function(){
            $('.slider').bxSlider();
          });
        </script>
      </head>
    </head>
    <body>
        <div class="containerContacto"> 
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="logoInicioContacto">
                  <br>
                  <center>
                    <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
            </center>
            <br>
              </div>
          </div><!--FIN CLASE LOGO INICIO-->        
    </div>
        <div class="box5">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <div class="menu-lista-inicio">
                                    <center>
                                    <a href="/quienesSomos.html"><h1>Quiénes Somos</h1></a>
                                  </center>
                                </div>
                            </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <div class="menu-lista-inicio">
                                    <center>
                                    <a href="/serviciosDisponibles.html"><h1>Nuestros Servicios</h1></a>
                                </center>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                    <div class="menu-lista-inicio">
                                        <center>
                                                <a href="/trabajosRealizados.html"><h1>Trabajos Realizados</h1></a>
                                    </center>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <div class="menu-lista-inicio">
                                            <center>
                                            <a href="/contacto.html"><h1>Contáctanos</h1></a>
                                        </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="box2">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="mantencion">
                            <center>
                            <h1>Mantención de Ascensores </h1>
                            <!--<p>La mejor solucion del mercado</p>-->
                        </center>
                    </div>
                </div>
                <center>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tamanoImagen">
                <div class="slider">
                        <img src="{% static 'img/Ascensores/Ascensor3.jpg' %}" alt="">
                        <img src="{% static 'img/Ascensores/ascensor1.jpg' %}" alt="">
                        <img src="{% static 'img/Ascensores/AscensorHD.jpg' %}" alt="">

                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="boxBotones">
        <div class="row">    
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">                        
                            {% block title %}{% endblock %}
                            {% block content %}
                            {% if user.is_authenticated %}
                            Hola {{ user.username }}!
                            <p><a href="{% url 'logout' %}">Cerrar Sesion</a></p>
                            {% else %}
                            <p>No has iniciado sesion </p>
                            <!--<a href="{% url 'login' %}"><img src="{% static 'img/botonIniciarSesion.png' %}"></a>-->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            <a href="{% url 'login' %}">Iniciar Sesión</a>                            
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            <a href="{% url 'register.html' %}">Registrate ahora!</a>
                            {% endif %}
                            {% endblock %}
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                     <a href="/menuTrabajador.html">Menú Trabajador</a>
                </div>                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                     <a href="/menuAdmin.html">Menú Administrador</a>
                </div>
        </div>
    </div>
    <div class="box3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mantencion">
                    <center>
                        <h1>UP&DOWN ASCENSORES</h1>
                        <p>Realizamos mantención preventiva y correctiva de ascensores.</p>
                        <hr size=5px color="white">
                    </center>
                </div>
            </div>
        </div>
        <div class="boxVanguardia">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="imagenVanguardia">
                        <img src="{% static 'img/Ascensores/imagenVanguardia.jpg' %}" alt="" width="500px" height="300px">
                    </div>
                    </center>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="letrasVanguardia">
                        <h1>Estamos a la vanguardia</h1>
                        <p>Ofrecemos la mejor calidad en mantención y reparación de sus ascensores.</p>
                        <p>Años de experiencia en el rubro nos avalan.</p>
                        <p>Somos una empresa líder del mercado.</p>
                    </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="boxPolitica">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="letrasPolitica">
                        <h1>Política de la empresa</h1>
                        <p>Seguridad, calidad, salud ocupacional y medio ambiente</p>
                        <p>Esta política se basa en la seguridad que cada uno de los integrantes de Up&Down 
                            Ascensores puede ofrecerle.
                        Cosas fundamentales al momento de realizar la mantención a su ascensor son: velar por 
                        su salud, el bienestar de su familia y el desarrollo de su organización.
                        Para dar cumplimiento a los compromisos antes mencionados, Up&Down Ascensores se compromete a:</p>
                         
                        <p>Cumplir con la legislación ambiental de seguridad y salud ocupacional aplicable a nuestro 
                            trabajo y otros, suscritos voluntariamente por la empresa.</p>
                                                    
                        <p>Fomentar una actitud segura en todo nuestro personal y en cada una de las actividades 
                            que realizamos.</p>
                    
                        <p>Satisfacer a nuestros clientes a través de canales de comunicación efectivos y una presentación 
                        de servicios oportuna y de calidad, basada en la mejora continua de nuestros procesos.</p>
                    </div>
                    </center>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="imagenPolitica">
                        <img src="{% static 'img/Ascensores/imagenPolitica.jpg' %}" alt="" width="500px" height="300px">
                    </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="boxValores">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="imagenValores">
                        <img src="{% static 'img/Ascensores/imagenValores.png' %}" alt="" width="500px" height="300px">
                    </div>
                    </center>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                    <div class="letrasValores">
                        <h1>Nuestros valores</h1>
                        <ul>
                            <li>Entender y atender las necesidades de nuestros clientes.</li>
                            <br>
                            <li>Buscamos Innovación.</li>
                            <br>
                            <li>Orientados a la satisfacción de nuestros clientes.</li>
                            <br>
                            <li>Agilidad.</li>
                            <br>
                            <li>Calidad Humana.</li>
                            <br>
                            <li>Actuamos con Integridad.</li>
                            <br>
                            <li>Excelencia en la calidad de servicio.</li>
                            <br>
                        </ul>
                    </div>
                    </center>
                </div>
            </div>
        </div>
    <footer>
        <div class="boxFooter">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="contacto">
                        <center>
                        <h1>Ubícanos</h1>
                        <p>Dirección:</p>
                        <p>Los Ciruelos Nº 2800, La Florida, Santiago</p>
                        <br>
                        <h2>Email:</h2>
                        <p>contacto@upNdown.cl</p>
                        </center>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="redes-sociales">
                        <h1>Síguenos en nuestras redes sociales</h1>
                        <div class="row">
                            <div class="imagenRedes">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                <img src="{% static 'img/redes/google-plus.PNG' %}">
                            </div>
                            </div>
                            <div class="imagenRedes">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">  
                                <img src="{% static 'img/redes/Facebook.PNG' %}">
                            </div> 
                            </div>
                            <div class="imagenRedes">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                <img src="{% static 'img/redes/instagram.PNG' %}">
                            </div> 
                            </div>
                            <div class="imagenRedes">            
                            <div class="col-xs-3 col-sm-3 col-md-3col-lg-2">
                                <img src="{% static 'img/redes/youtube.PNG' %}">
                            </div> 
                            </div>
                        </div> <!--Fin row-->
                    </div> <!-- Fin Clase-->
                </div><!--Fin Col-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="contacto-telefonico">
                        <h1>Contacto telefónico</h1>
                        <p>+569 45899020 - 2 22887889</p>
                        <br>
                        <h2>En caso de emergencias: </h2>
                        <p>whatsapp  o celular 24/7:</p>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                            <img src="{% static 'img/redes/whatsapp.png' %}"> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="copyright">
                        <center>
                        <p>Copyright</p>
                        <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                        </center>
                    </div>
                </div>
            </footer>
    </div><!--fin container-->
    </body>
</html>