<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">

    </head>
    <body>
        <div class="containerContacto">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="logoInicioContacto">
                <br>
                <center>
                   <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                </center>
                <br>
              </div>
            </div><!--FIN CLASE LOGO INICIO-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">

            </div>
            <center>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="tituloTecnico">
                    <h1>Bienvenido: acá va el nombre del Técnico</h1>
                </div>
            </div>
            <center>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">

            </div>
            <center>
            <div class="botones">
                <div class="subTitulo">
                    <h1>Lista de Trabajos Disponibles</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/listaTrabajosDisponibles.html"><button type="button">Lista De Trabajos Disponibles</button></a>
                </div>
            </div>
            <div class="botones">
                <div class="subTitulo">
                    <h1>Lista de Trabajos Asignados</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button">Trabajos Asignados</button>
                </div>
            </div>
            <div class="botones">
                <div class="subTitulo">
                    <h1>Registro de Reparación</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/registroReparacion.html"><button type="button">Abrir orden de Trabajo</button></a>
                </div>
            </div>
            </center>
        </div><!--fin container-->
    <Footer>
            <div class="boxFooter">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="copyrightCrear">
                        <center>
                            <p>Copyright</p>
                            <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                            <br>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </Footer>   
    </body>
</html>