<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">

    </head>
    <body>
        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                    </center>
                    <br>
                    </div>
                </div>
            </div><!--FIN CLASE LOGO INICIO-->
        </div>
        <div class="boxCreacionCliente">
            <center>
            <div class="botones">
                <div class="subTitulo">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <h1>Gestión de Clientes</h1>
                        <hr color="white" size=5px>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    </div>
                    <a href="/crearCliente.html"><input type="button" value="Crear Nuevo Cliente"></a>
                    <a href="/listaClientes.html"><input type="button" value="Lista de Clientes Creados"></a>
                </div>
            </div>
            <div class="botones">
                <div class="subTitulo">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <h1>Gestión de Solicitudes</h1>
                        <hr color="white" size=5px>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    </div>
                        <a href="/solicitarTecnico.html"><input type="button" value="Crear Solicitud"></a>
                        <a href="/listaTrabajosDisponibles.html"><input type="button" value="Lista de Todas las Solicitudes"></a>
                    </div>
                </div>
            </div>
            </center>
        </div>
<Footer>
<div class="boxFooter">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="copyrightCrear">
            <center>
                <p>Copyright</p>
                <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                <br>
            </center>
            </div>
        </div>
    </div>
</div>
</Footer>
    </body>
</html>