<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis Ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">

    </head>
    <body>
        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="300px" width="300px"></a>
                    </center>
                    <br>
                </div>
            </div><!--FIN CLASE LOGO INICIO-->
        </div>
        <div class="box5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <div class="menu-lista-inicio">
                    <center>
                        <a href="/"><h1>Inicio</h1></a> 
                    </center>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <div class="menu-lista-inicio">
                    <center>
                        <a href="/serviciosDisponibles.html"><h1>Nuestros Servicios</h1></a>
                    </center>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <div class="menu-lista-inicio">
                    <center>
                        <a href="/trabajosRealizados.html"><h1>Trabajos Realizados</h1></a>
                    </center>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <div class="menu-lista-inicio">
                    <center>
                        <a href="/contacto.html"><h1>Contáctanos</h1></a>
                    </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="box3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mantencion">
                <center>
                    <h1>EMPRESA UP&DOWN</h1>
                    <p>Nos encargamos de que su ascensor funcione correctamente</p>
                    <hr size=5px color="white">
                </center>
                <br>
                </div>
            </div>
        </div>
        <div class="boxVanguardia">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="monoReparador">
                        <img src="{% static 'img/monoreparador.jpg' %}" height="200px" width="200px">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="letrasReparador">
                        <p>UP&DOWN ascensores es una empresa nacional, creada en 2008 con el objetivo de establecer un nuevo 
                        concepto en servicio y atención en el área de mantención, escaleras mecánicas y montacargas. 
                        Contamos con personal capacitado, de basta experiencia en el área de transporte vertical, 
                        inscritos en el Registro Nacional de Instaladores, mantenedores y certificadores de ascensores, 
                        con Resolución N°929 otorgada por el Ministerio de Vivienda y Urbanismo).</p>
                        <hr size=5px color="white">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                            
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <center>
                    <h1>Misión</h1>
                </center>
                    <div class="letrasReparador">
                        <p>Satisfacer los requerimientos de nuestros clientes, con procesos transparentes , eficaces y eficientes 
                        que cumplan con los compromisos adquiridos. Asimismo entregamos un servicio de calidad en el territorio nacional, manteniendo un contacto permanente y 
                        fluido con los clientes y garantizando la seguridad tanto de nuestros trabajadores como de los usuarios.</p>
                        <hr size=5px color="white">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="monoReparador">
                        <img src="{% static 'img/imagenAscensor.png' %}" alt="" height="200px" width="200px">  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <center>
                    <h1>Visión</h1>
                </center>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="imagenAscensor2">
                        <img src="{% static 'img/imagenAscensor2.png' %}" alt="" height="200px" width="200px">  
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="letrasReparador">
                        <p>Nuestros clientes nos reconocen como la mejor empresa del rubro, entregando un 
                        servicio de calidad y con un fuerte compromiso con la seguridad de nuestros trabajadores y usuarios.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                
                </div>
            </div>
        </div>
        <Footer>
        <div class="boxFooter">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="contacto">
                    <center>
                        <h1>Ubícanos</h1>
                        <p>Dirección:</p>
                        <p>Los Ciruelos Nº 2800, La Florida, Santiago</p>
                        <br>
                        <h2>Email:</h2>
                        <p>contacto@upNdown.cl</p>
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="redes-sociales">
                    <h1>Síguenos en nuestras redes sociales</h1>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <img src="{% static 'img/redes/google-plus.PNG' %}">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <img src="{% static 'img/redes/Facebook.PNG' %}">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <img src="{% static 'img/redes/instagram.PNG' %}">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3col-lg-2">
                            <img src="{% static 'img/redes/youtube.PNG' %}">
                        </div>
                    </div> <!--Fin row-->
                </div> <!-- Fin Clase-->
            </div><!--Fin Col-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="contacto-telefonico">
                    <h1>Contacto telefónico</h1>
                    <p>+569 45899020 - 2 22887889</p>
                    <br>
                    <h2>En caso de emergencias: </h2>
                    <p>whatsapp  o celular 24/7:</p>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        <img src="{% static 'img/redes/whatsapp.png' %}"> 
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="copyright">
                <center>
                    <p>Copyright</p>
                    <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                </center>
                </div>
            </div>
        </Footer>
    </div><!--fin container-->
    </body>
</html>