<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis Ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">
        
    </head>
    <body>

        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                    </center>
                    <br>
                    </div>
                </div><!--FIN CLASE LOGO INICIO-->
            </div>
            <div class="box5">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio">
                        <center>
                            <a href="/"><h1>Inicio</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-2">
                        <center>
                            <a href="/quienesSomos.html"><h1>Quiénes Somos</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-3">
                        <center>
                            <a href="/trabajosRealizados.html"><h1>Trabajos Realizados</h1></a>
                        </center>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <div class="menu-lista-inicio-4">
                        <center>
                            <a href="/contacto.html"><h1>Contáctanos</h1></a>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxMantencion">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="mantencion">
                    <center>
                        <img src="{% static 'img/Mantencion.jpg' %}">
                        <h1>Mantención</h1>
                        <hr size=5px color="white">
                    </center>
                    <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="letrasMantencion">
                            <p> Con el fin de garantizar el perfecto funcionamiento de su ascensor, contamos con diferentes servicios de mantenimiento
                            para las diversas marcas de ascensores existentes en el mercado. Estos servicios constan de rutinas preestablecidas que se 
                            realizan a las unidades, donde se verifica el estado de los diferentes sistemas de su ascensor y en caso de ser necesario 
                            se corrigen irregularidades presentes en él.</p>
                                            
                            <p>El servicio de mantenimiento incluye además el servicio de emergencias durante las 24 horas todos los días del año, 
                            en la cual nos comprometemos a atender con prontitud las situaciones anormales que se presenten en su equipo. 
                            Así mismo, contamos con una póliza de seguros que cubre daños a usted o a su equipo con respecto a desperfectos ocasionados
                            por la mantención realizada en su equipo.</p>

                            <p>Ascensores UP&DOWN:</p>
                            <p>Cuenta con un Taller de reparaciones y un amplio stock de repuestos originales y homologados para las diversas marcas de ascensores,
                            garantizando la reparación inmediata de su ascensor. Esta certeza le da al cliente la seguridad de que en el momento que su ascensor 
                            presente alguna situación irregular, Ascensores UP&DOWN está capacitado para responder de manera eficiente a su solicitud pa que así
                            su ascensor vuelva a operar correctamente en el menor tiempo posible.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                            
                    </div>
                </div>
            </div>
            <Footer>
                <div class="boxFooter">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <div class="contacto">
                                <center>
                                <h1>Ubícanos</h1>
                                <p>Dirección:</p>
                                <p>Los Ciruelos Nº 2800, La Florida, Santiago</p>
                                <br>
                                <h2>Email:</h2>
                                <p>contacto@upNdown.cl</p>                                
                                </center>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <div class="redes-sociales">
                                <h1>Siguenos en nuestras redes sociales</h1>
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                        <img src="{% static 'img/redes/google-plus.PNG' %}">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                        <img src="{% static 'img/redes/Facebook.PNG' %}">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                        <img src="{% static 'img/redes/instagram.PNG' %}">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3col-lg-2">
                                        <img src="{% static 'img/redes/youtube.PNG' %}">
                                    </div>
                                </div> <!--Fin row-->
                            </div> <!-- Fin Clase-->
                        </div><!--Fin Col-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <div class="contacto-telefonico">
                                <h1>Contacto telefónico</h1>
                                <p>+569 45899020 - 2 22887889</p>
                                <br>
                                <h2>En caso de emergencias: </h2>
                                <p>whatsapp  o celular 24/7:</p>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <img src="{% static 'img/redes/whatsapp.png' %}"> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="menu-lista-inicio-4">
                            <center>
                                <p>Copyright</p>
                                <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                            </center>
                        </div>
                    </div>
                </Footer>
        </div>
    </div><!--fin container-->

    </body>
</html>