
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mis ascensores</title>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'responsivo/flexboxgrid.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="containerContacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="logoInicioContacto">
                    <br>
                    <center>
                        <a href="/"><img src="{% static 'img/Logo/logox.png' %}" height="250px" width="250px"></a>
                    </center>
                    <br>
                    </div>
                </div>
            </div><!--FIN CLASE LOGO INICIO-->
        </div>
        <div class="boxCreacionCliente">
            <center>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="tituloCrear">
                        <h1>Crear Solicitud</h1>
                        <hr color="white" size=5px>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        
                </div>
            </div>
            </center>
            <center>
            <div class="letras">
        
            {% block content %}
            <form method='POST' action='' enctype="multipart/form-data"> {% csrf_token %}
                
            {{formSolicitar.as_p}}
            <input type='submit' value="Registrar Formulario" value='Creaste Post'>
            {% endblock %}
        </center>
        <br><br>
        </center>
        </div>
        <Footer>
            <div class="boxFooter">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="copyrightCrear">
                        <center>
                            <p>Copyright</p>
                            <p>Todos los Derechos Reservados por UP&DOWN Ascensores</p>
                            <br>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </Footer>
    </body>
</html>
